html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section
                div(class="container px-4 mx-auto")
                    nav(class="flex items-center py-6")
                        a(class="text-3xl font-semibold leading-none", href="#")
                            img(class="h-10", src="https://cdn.weckmann.me/wkmndev.svg", alt="", width="auto")
                        div(class="lg:hidden ml-auto")
                            button(class="navbar-burger flex items-center py-2 px-3 text-blue-600 hover:text-blue-700 rounded border border-blue-200 hover:border-blue-300")
                                svg(class="fill-current h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden lg:flex items-center space-x-12 ml-auto mr-12")
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") Product
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") Company
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") About Us
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") Features
                        div(class="hidden lg:block")
                            a(class="mr-2 inline-block px-4 py-3 text-xs text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="#") Log In
                            a(class="inline-block px-4 py-3 text-xs font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Sign Up
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25")
                    nav(class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-3xl font-semibold leading-none", href="#")
                                img(class="h-10", src="metis-assets/logos/metis/metis.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Product
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Company
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") About Us
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Features
                            div(class="mt-4 pt-6 border-t border-blueGray-100")
                                a(class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Sign Up
                                a(class="block px-4 py-3 mb-2 text-xs text-center text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="#") Log In
                        div(class="mt-auto")
                            p(class="my-4 text-xs text-blueGray-400")
                                span Get in Touch
                                |                 
                                a(class="text-blue-600 hover:text-blue-600 underline", href="#") info@example.com
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-lg mb-16")
                        h2(class="mb-4 text-3xl lg:text-4xl font-bold font-heading")
                            span Start saving time today and
                            |               
                            span(class="text-blue-600") choose
                            |               
                            span your best plan
                        p(class="text-base lg:text-lg text-blueGray-400") Best for freelance developers who need to save time
                    div(class="bg-white border rounded shadow")
                        div(class="border-b")
                            div(class="flex flex-wrap p-6 -mx-3")
                                div(class="w-full lg:w-1/6 text-center lg:text-left text-lg lg:text-base font-semibold lg:font-normal mb-2 lg:mb-0 px-3") Beginner
                                div(class="w-full lg:w-4/6 mb-6 lg:mb-0 px-3")
                                    p(class="mb-4 lg:mb-6 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis.
                                    ul(class="flex flex-col lg:flex-row justify-start space-y-2 lg:space-y-0 lg:space-x-8")
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 12 Emails
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 8 Datebase
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") Unlimited Domains
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 50 GB Storage
                                div(class="w-full lg:w-1/6 self-center text-xs px-3")
                                    a(class="block mb-2 py-4 text-center hover:text-white font-semibold bg-blueGray-200 hover:bg-blue-600 rounded", href="#") Buy 25$
                                    p(class="text-center text-blueGray-400") per month
                        div(class="border-b")
                            div(class="flex flex-wrap justify-between p-6 -mx-3")
                                div(class="w-full lg:w-1/6 text-center lg:text-left text-lg lg:text-base font-semibold lg:font-normal mb-2 lg:mb-0 px-3") Intermediate
                                div(class="w-full lg:w-4/6 mb-6 lg:mb-0 px-3")
                                    p(class="mb-4 lg:mb-6 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis.
                                    ul(class="flex flex-col lg:flex-row justify-start space-y-2 lg:space-y-0 lg:space-x-8")
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 12 Emails
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 8 Datebase
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") Unlimited Domains
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 50 GB Storage
                                div(class="w-full lg:w-1/6 self-center text-xs px-3")
                                    a(class="block mb-2 py-4 text-center hover:text-white font-semibold bg-blueGray-200 hover:bg-blue-600 rounded", href="#") Buy 25$
                                    p(class="text-center text-blueGray-400") per month
                        div(class="border-b")
                            div(class="flex flex-wrap justify-between p-6 -mx-3")
                                div(class="w-full lg:w-1/6 text-center lg:text-left text-lg lg:text-base font-semibold lg:font-normal mb-2 lg:mb-0 px-3") Advanced
                                div(class="w-full lg:w-4/6 mb-6 lg:mb-0 px-3")
                                    p(class="mb-4 lg:mb-6 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis.
                                    ul(class="flex flex-col lg:flex-row justify-start space-y-2 lg:space-y-0 lg:space-x-8")
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 12 Emails
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 8 Datebase
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") Unlimited Domains
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 50 GB Storage
                                div(class="w-full lg:w-1/6 self-center text-xs px-3")
                                    a(class="block mb-2 py-4 text-center hover:text-white font-semibold bg-blueGray-200 hover:bg-blue-600 rounded", href="#") Buy 65$
                                    p(class="text-center text-blueGray-400") per month
                        div
                            div(class="flex flex-wrap p-6 -mx-3")
                                div(class="w-full lg:w-1/6 text-center lg:text-left text-lg lg:text-base font-semibold lg:font-normal mb-2 lg:mb-0 px-3") Professional
                                div(class="w-full lg:w-4/6 mb-6 lg:mb-0 px-3")
                                    p(class="mb-4 lg:mb-6 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis.
                                    ul(class="flex flex-col lg:flex-row justify-start space-y-2 lg:space-y-0 lg:space-x-8")
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 12 Emails
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 8 Datebase
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") Unlimited Domains
                                        li(class="flex")
                                            svg(class="h-6 w-6 mr-2 text-green-600", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(class="text-blueGray-400") 50 GB Storage
                                div(class="w-full lg:w-1/6 self-center text-xs px-3")
                                    a(class="block mb-2 py-4 text-center hover:text-white font-semibold bg-blueGray-200 hover:bg-blue-600 rounded", href="#") Buy 25$
                                    p(class="text-center text-blueGray-400") per month
            section(class="py-16")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col lg:flex-row flex-wrap items-center justify-center lg:justify-between")
                        div(class="flex flex-col lg:flex-row mb-8 lg:mb-0")
                            a(class="inline-block mb-8 lg:mb-0 mx-auto lg:ml-0 lg:mr-12 text-3xl font-semibold leading-none", href="#")
                                img(class="h-10", src="https://cdn.weckmann.me/wkmndev.svg", alt="", width="auto")
                            ul(class="flex lg:flex-row items-center space-x-12")
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") Shop
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") About
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") Blog
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") Pricing
                        div(class="lg:flex lg:flex-wrap lg:items-center")
                            span(class="block mb-6 lg:mb-0 lg:mr-12 text-center lg:text-left text-blueGray-400") Let's get in touch
                            |               
                            a(class="inline-block py-4 px-8 text-xs text-white leading-none bg-blue-600 hover:bg-blue-700 font-semibold rounded", href="#") Contact with us
